<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <h3 *ngIf="posts">{{posts.title}}</h3>
    
  <p *ngIf="posts">
      Description of the event : {{posts.description}}
  </p>
  <p *ngIf="posts">
      Date : {{posts.DateDebut}}  Horraire (à traduire, j'ai pas trouvé de trad satisfaisante) : {{posts.HeureDebut}} - {{posts.HeureFin}}
  </p>
  <p *ngIf="posts">
      Place : {{posts.Lieu}}
  </p>
  <p *ngIf="posts">
      Organiser : {{posts.Organisateur}}
  </p>

</ion-content>
