<ion-header>
    <ion-navbar>
        <button ion-button menuToggle (click)=toggleMenu()>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Accueil</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="card-background-page" padding>
    <!--<h3 *ngIf="posts">{{posts.title}}</h3>

  <p *ngIf="posts">
      Description of the event : {{posts.description}}
  </p>
  <p *ngIf="posts">
      Date : {{posts.DateDebut}}  Horraire (à traduire, j'ai pas trouvé de trad satisfaisante) : {{posts.HeureDebut}} - {{posts.HeureFin}}
  </p>
  <p *ngIf="posts">
      Place : {{posts.Lieu}}
  </p>
  <p *ngIf="posts">
      Organiser : {{posts.Organisateur}}
  </p>-->

    <ion-card *ngIf="posts">
        <img [src]="posts.image"/>
        <div class="card-title" >{{posts.title}}</div>
        <div class="card-subtitle"> Le {{posts.DateDebut}}</div>
    </ion-card>

    <div class="description" *ngIf="posts">
        <div class="title">DESCRIPTION</div>
        <div class="paragraphe">{{posts.description}}</div>
    </div>

    <ion-list class="event-details" no-lines *ngIf="posts">
        <ion-item>
            <ion-icon class="logo" name="md-compass" item-start></ion-icon>
            {{posts.Lieu}}
        </ion-item>
        <ion-item>
            <ion-icon class="logo" name="md-calendar" item-start></ion-icon>
            Le {{posts.DateDebut}}
        </ion-item>
        <ion-item>
            <ion-icon class="logo" name="logo-euro" item-start></ion-icon>
            {{posts.prix}}
        </ion-item>
    </ion-list>
</ion-content>
