<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Home</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="card-background-page" padding>
    <!--<h3 *ngIf="posts">{{posts.title}}</h3>

  <p *ngIf="posts">
      Description of the event : {{posts.description}}
  </p>
  <p *ngIf="posts">
      Date : {{posts.DateDebut}}  Horraire (à traduire, j'ai pas trouvé de trad satisfaisante) : {{posts.HeureDebut}} - {{posts.HeureFin}}
  </p>
  <p *ngIf="posts">
      Place : {{posts.Lieu}}
  </p>
  <p *ngIf="posts">
      Organiser : {{posts.Organisateur}}
  </p>-->

    <ion-card>
        <img src="assets/img/24h.png"/>
        <div class="card-title">24h de l'INSA</div>
        <div class="card-subtitle">du 29 au 31 mai</div>
    </ion-card>

    <div class="description">
        <div class="title">DESCRIPTION</div>
        <div class="paragraphe">Les 24 heures sont  la plus grande manifestation étudiante en Rhône Alpes et l’une des plus grandes de France : 50 000 spectateurs attendus sur le week-end ! Un rendez-vous exceptionnel avec plus de 80 animations culturelles et sportives (courses, concerts, démonstrations, initiations).</div>
    </div>

    <ion-list class="event-details" no-lines>
        <ion-item>
            <ion-icon name="md-compass" item-start></ion-icon>
            Campus de La Doua
        </ion-item>
        <ion-item>
            <ion-icon name="md-calendar" item-start></ion-icon>
            Du 29 au 31 mai
        </ion-item>
        <ion-item>
            <ion-icon name="logo-euro" item-start></ion-icon>
            15€ la soirée
        </ion-item>
    </ion-list>
</ion-content>
