<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Activities</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div padding>
        <ion-segment [(ngModel)]="list">
            <ion-segment-button class="segment-title" value="all">
                All
            </ion-segment-button>
            <ion-segment-button class="segment-title" value="favorite">
                Favorites
            </ion-segment-button>
        </ion-segment>
    </div>
    <div *ngIf="posts">
    <div [ngSwitch]="list">
        <ion-list *ngSwitchCase="'all'">
            <ion-item *ngFor="let activity of posts.activitesBalise" >
              <button class ="detailButton" (click)="showDetailPage(activity)">
                  <ion-icon name="briefcase" item-start></ion-icon>
                  {{activity.nom}}</button>
                <ion-icon *ngIf="activity.favorite" name="md-star" item-end (click)="changeFavorite(activity)"></ion-icon>
                <ion-icon *ngIf="!activity.favorite" name="md-star-outline" item-end (click)="changeFavorite(activity)"></ion-icon>
            </ion-item>
        </ion-list>
    </div>

    <div [ngSwitch]="list">
        <ion-list *ngSwitchCase="'favorite'">
            <div *ngFor="let activity of posts.activitesBalise">
                <ion-item class="buttonList" detail-push *ngIf="activity.favorite" (click)="showDetailPage(activity)">
                    <ion-icon name="briefcase" item-start></ion-icon>
                    {{activity.nom}}
                    <ion-icon *ngIf="activity.favorite" name="md-star" item-end (click)="changeFavorite(activity)"></ion-icon>
                    <ion-icon *ngIf="!activity.favorite" name="md-star-outline" item-end (click)="changeFavorite(activity)"></ion-icon>
                </ion-item>
            </div>
        </ion-list>
    </div>
    </div>

</ion-content>
