page-activities {

    .segment-md .segment-button {
    color: black;

    &.segment-activated {
      border-color: blue;
    }
  }
  .detailButton {
    font-size: 16px;
    width: 260px;
    background-color: white;
    text-align: left;
  }
}
