<ion-split-pane>

  <!-- logged out menu -->
  <ion-menu id="loggedOutMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

     <!-- <ion-list>
        <ion-list-header>
          Navigate
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedOutPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list> -->

     <ion-list no-lines>
        <ion-list-header class="event-title" *ngIf=posts>
          {{posts.title}}
        </ion-list-header>
        <button ion-item menuClose (click)="openAccueil()">
          <ion-icon class="menu-icon" onclick="this.style.color='#e02e34'" item-start name="md-home"></ion-icon>
          Home
        </button>
        <button ion-item menuClose (click)="openLocalisation()">
          <ion-icon class="menu-icon" item-start name="md-navigate"></ion-icon>
          Localisation
        </button>
        <button ion-item menuClose (click)="openActivities()">
          <ion-icon class="menu-icon" item-start name="md-list-box"></ion-icon>
          Activities
        </button>
        <button ion-item menuClose (click)="openRealMap()">
          <ion-icon class="menu-icon" item-start name="md-map"></ion-icon>
          Map
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Others Events
        </ion-list-header>
        <button ion-item menuClose (click)="openChangeEvent()">
          <ion-icon class="menu-icon" item-start name="swap"></ion-icon>
          Change Event
        </button>
      </ion-list>

    <ion-list>
        <ion-list-header>
          Settings
        </ion-list-header>
        <button ion-item menuClose (click)="openSettings()">
          <ion-icon class="menu-icon" item-start name="construct"></ion-icon>
          Settings
        </button>
      </ion-list>

      <!--<ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-start name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list>-->
    </ion-content>

  </ion-menu>

  <!-- logged in menu -->
  <ion-menu id="loggedInMenu" [content]="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="outer-content">

      <ion-list>
        <ion-list-header>
          Navigate
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of appPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Account
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of loggedInPages" (click)="openPage(p)">
          <ion-icon item-start [name]="p.icon" [color]="isActive(p)"></ion-icon>
          {{p.title}}
        </button>
      </ion-list>

      <ion-list>
        <ion-list-header>
          Tutorial
        </ion-list-header>
        <button ion-item menuClose (click)="openTutorial()">
          <ion-icon item-start name="hammer"></ion-icon>
          Show Tutorial
        </button>
      </ion-list>

    </ion-content>

  </ion-menu>

  <!-- main navigation -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false" main name="app"></ion-nav>

</ion-split-pane>
