body
.img{position:absolute;z-index:1;}

#mapFloor{
    display:inline-block;
    width:480px;
    height:400px;
    margin: 0 auto;
    position:relative;
    border-radius: 10px;
   }

#canvas{
    position:relative;
    z-index:20;
}
.btn-path {
  position: absolute;
  top: 0;
  right: 0;
}
.btn-beacon {
  position: absolute;
  top: 0;
  right: 0;
}
