page-activities-detail {
    .card-background-page {

      ion-card {
        position: relative;
        text-align: center;
      }

      .card-title {
        position: absolute;
        top: 36%;
        font-size: 2.0em;
        width: 100%;
        font-weight: bold;
        color: #fff;
      }

      .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
      }

    }

    .description {
        margin: 10px;
        margin-top: 15px;
    }

    .description .title {
        color: #e02e34;
        margin-bottom: 8px;
    }

    .description .paragraphe {

    }

    .item-md {
        font-size: 14px;
        height: 20px;
    }

    .icon-md.logo {
        color: #e02e34;
        font-size: 22px;
    }

    .event-details {
        position: absolute;
        bottom: 0px;
    }

}
