<!--
  Generated template for the ActivitiesDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar>
    <ion-title *ngIf="posts">{{posts.activitesBalise[0].nom}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="card-background-page">
  <ion-card *ngIf="posts">
        <img [src]="posts.activitesBalise[0].image"/>
    </ion-card>

    <div class="description" *ngIf="posts">
        <div class="title">DESCRIPTION</div>
        <ion-list>
            <div *ngFor = "let item of posts.activitesBalise[0].description;">
                {{item.p}}
            </div>
        </ion-list>
    </div>
    <ion-list *ngIf="posts">
        <div class="title">INTERVENANTS</div>
        <ion-item *ngFor = "let item of posts.activitesBalise[0].intervenants;">
            {{item.nom}}
        </ion-item>
    </ion-list>

    <ion-list class="event-details" no-lines *ngIf="posts">
        <ion-item>
            <ion-icon class="logo" name="md-compass" item-start></ion-icon>
            {{posts.activitesBalise[0].lieu}}
        </ion-item>
        <ion-item>
            <ion-icon class="logo" name="clock" item-start></ion-icon>
        De {{posts.activitesBalise[0].heureDebut}} à {{posts.activitesBalise[0].heureFin}}
        </ion-item>
        <ion-item>
            <ion-icon class="logo" name="md-calendar" item-start></ion-icon>
            Prochaine activité:  {{posts.activitesBalise[0].nextActivity}}
        </ion-item>
    </ion-list>

</ion-content>
